body {
    background-color: #000 !important;
    text-align: center;
}

main {
    position: absolute;
    width: 100%;
}

main h2 {
    color: #eee;
    margin-top: 15%;
}
.alert-danger {
    border-radius: 0 !important;
    width: 80%;
    margin-left: 10%;
}
#register input,
#register select,
#register option {
    width: 80%;
    border: 1px solid #ccc;
    border-bottom: none;
    text-align: center;
    background-image: url("../img/icon-modalinput-write.png");
    background-repeat: no-repeat;
    background-position: 98% center;
    padding: 5px 0;
}

#register select {
    padding: 5px 0 5px 38%;
}

#register input:last-of-type {
    border-bottom: 1px solid #ccc;
}

#register button {
    width: 40%;
    border: 1px solid #fff;
    border-top: none;
    background: #000;
    color: #fff;
    padding: 7px 0;
}

#register button:hover {
    background: #fff;
    color: #000;
}
.checkedLi {
	color: red;
}
footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}